{% extends 'index.html' %}

{% block content %}
<h1>Login page!</h1>
<a class="btn btn-primary" href="/users/register/">Register</a>

<form action="." method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text"
               class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               name="username"
               placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password"
               class="form-control"
               id="exampleInputPassword1"
               name="password"
               placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if error %}
<p class="alert alert-danger">{{error}}</p>
{% endif %}
{% endblock content %}