{% extends 'index.html' %}

{% block content %}
<h1>Register <a class="btn btn-dark" href="/users/login">Login</a></h1>

{% load crispy_forms_tags %}
<form action="/users/register/" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{field|as_crispy_field}}
        {% if field.errors %}
        <ul>
        {% for err in field.errors %}
            <li style="color: red;">{{ err }}</li>
        {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endfor %}

    <button class="btn btn-primary">Save</button>
</form>
{% endblock content %}