{% extends 'users/cabinet/main.html' %}

{% block cabinet %}
<h1>Add phone</h1>

{% if result %}
<p class="alert alert-success">Success!</p>

{% endif %}
{% load crispy_forms_tags %}
<div>
    <a class="btn btn-link" href="/users/my-products/"> <<< back to all products</a>
    <form action="/users/cabinet/add-phone/" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock cabinet %}