{% extends 'index.html' %}


{% block content %}
<h1>Person Detail</h1>
<p>Name : {{ person.first_name }}</p>
<p>Last Name : {{ person.last_name }}</p>
<p>email : {{ person.email }}</p>
<p>phone_number : {{ person.phone_number }}</p>
<p>status : {{ person.get_status_display }}</p>
<p>
<div class="row">
    <div class="col-md-2">
        rate : {{person.rate}} / 5
    </div>
    <div class="col-md-5">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                 style="width: {{ person.get_rate }}%"
                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{ person.get_rate }} %
            </div>
        </div>
    </div>
</div>


</p>
<p>count sold products : {{ person.count_sold_products }}</p>
<p>
    {% if person.online %}
    <span style="color: green;">Online</span>
    {% else %}
    <span style="color: darkred;">Offline</span>

    {% endif %}
</p>

<a class="btn btn-success" href="/get-person-products/{{person.id}}/">Go to phones >>> </a>


{% endblock content %}