{% extends 'index.html' %}


{% block content %}
<a class="btn btn-primary" href="/get-person/{{person_id}}">Back</a>
<br>
Total - {{total_sum}} $
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Brand</th>
    </tr>
    </thead>
    <tbody>
    {% for phone in phones %}
    <tr>
        <td scope="row">{{phone.id}}</td>
        <td><a href="/phone-detail/{{phone.id}}">{{phone.name}}
            {% if phone.is_sale %} <span class="badge badge-secondary">Sale</span> {% endif %}
        </a></td>
        <td>{{ phone.price }}
            {% if phone.is_sale %} - {{ phone.percent_sale }} % = {{ phone.get_price }} {% endif %} $
        </td>
        <td>{{ phone.brand }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}