{% extends 'index.html' %}
{% block content %}
<a href="https://google.com" target="_blank"> Go to google!</a>
<br>
text <input type="text">
<br>
number <input type="number">

<br>
search <input type="search">
<br>
range <input type="range" min="0" max="100" step="1">
<br>
color <input type="color">
<br>
checkbox <input type="checkbox">


<br>
radio
1<input type="radio" name="radio_btn">
2<input type="radio" name="radio_btn">
3<input type="radio" name="radio_btn">
4<input type="radio" name="radio_btn">

<br>
select

<select name="" id="">
    <option value="">Lorem ipsum.</option>
    <option value="">2.</option>
    <option value="">3.</option>
    <option value="">4.</option>
</select>
<br>
select multiple

<select name="" id="" multiple>
    <option value="">Lorem ipsum.</option>
    <option value="">2.</option>
    <option value="">3.</option>
    <option value="">4.</option>
</select>
<br>
textarea
<textarea name="" id="" cols="30" rows="10"></textarea>


<div>
    Lorem ipsum dolor sit amet, consectetur.
</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolorem ea esse necessitatibus pariatur tempora
    totam velit voluptatibus. Amet, reiciendis!
</div>
{% endblock %}