{% extends 'index.html' %}
{% block content %}
<h1>Calc page!</h1>

<form action="" method="post">
    {% csrf_token %}
    <input type="number" name="first_number">
    <select name="operation" id="">
        <option value="+">add</option>
        <option value="-">sub</option>
        <option value="*">mul</option>
        <option value="/">div</option>
    </select>
    <input type="number" name="second_number">
    <button class="btn btn-danger">Calculate</button>
    {% if result %} = {{result}} {% endif %}
</form>

{% if error %}
<p class="alert alert-danger">{{error}}</p>

{% endif %}

<div class="col-md-4">
    <div class="row">
        {% for num in digits %}
            <div class="col-md-3 btn-primary" style="margin-bottom: 2px; margin: 1px">{{ num }}</div>
        {% endfor %}
         <div class="col-md-3 btn-info">=</div>
         <div class="col-md-3 btn-danger">Clear</div>
    </div>
</div>


<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" name="check_me_out" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}