{% extends 'index.html' %}
{% block content %}
<h1>Phone detail! (Person  -


    <a href="/get-person/{{phone.person.id}}">{{ phone.person.get_name }}</a>)</h1>
<h2><a href="/get-person-products/{{phone.person.id}}">Все товары продавца</a> </h2>
<h3>{{ phone.name }}</h3>
<p>Brand: {{ phone.brand }}</p>
<p>Description: {{ phone.description }}</p>
<p>Price:
{% if phone.is_sale %}
<span style="color:red;">{{ phone.price }} $  <b>-</b> {{ phone.percent_sale }}% </span>
<span style="color: green;"> {{ phone.get_price }} $</span>
    {% else %}
    <span>{{phone.price}} $</span>
{% endif %}
</p>
<a class="btn btn-success" href="">Add to bucket</a>
<a class="btn btn-warning" href="">Add to wish list</a>
{% endblock %}